[submodule "libs/model"]
	path = libs/model
	url = https://github.com/getsandbox/sandbox-model.git
[submodule "libs/jliquid"]
	path = libs/jliquid
url=https://nhoughto@github.com/getsandbox/jliquid-liqp.git
