<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%m%n</Pattern>
            <!--<Pattern>%d{yyyy-MM-dd HH:mm:ss:SSS} - %m%n</Pattern>-->
        </encoder>
    </appender>

    <logger name="ch.qos.logback" level="OFF" />
    <logger name="org.eclipse.jetty" level="OFF" />
    <logger name="org.springframework" level="OFF" />
    <logger name="com.sandbox" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>